

@import 'font.css ';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'rubik' ;
}

.container{
   max-width: 1140px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}


a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.header {
    background: #3e8989;
}

.header__content {
    display: flex;
    justify-content: space-between;
    padding: 33px 0;
}

.header__menu {
    display: flex;
    column-gap: 30px;
}

.header__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    padding: 8px 0 ;
}

.header__link::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 3px;
    background: #ffffff;
    border-radius: 5px;
    transition: 500ms;
    opacity: 0;
}

.header__link:hover::after {
    opacity: 1;
}

.header__form {
    display: flex;
}

.header__input{
    padding: 8px 20px ;
    background: #ffffff;
    border-radius: 20px 0px 0px 20px;
    border: none;
}

.header__input::placeholder {
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color: #898989;
   text-transform: capitalize;
}

.header__btn {
max-width: 74px;
width: 100%;
padding: 9px 14px;
background-color: #295E5e;
border-radius: 0px 20px 20px 0px;
border:none;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #ffffff;
text-transform: capitalize;
}

.banner{
    height: 100vh;
    background: url('../img/pic.png') no-repeat center / cover;
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
   text-align: center;
   margin-bottom: 80px;
}

.banner__title {
    font-weight: 600;
    font-size: 80px;
    line-height: 95px;
    color: #ffffff;
    margin-bottom: 20px;
}

.banner__descr{
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #ffffff;
    margin-bottom: 50px;
}

.banner__link {
    width: 200px;
    background: #b4436c;
    border-radius: 30px;
    padding: 14px;
    text-align: center;
    text-transform: capitalize;
    font-family: 'inter';
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    transition: 500ms;
}

.banner__link:hover{
    color:#b4436c ;
    background: #ffffff;
}

.about{
    margin-bottom: 97px;
}

.about__title {
    font-family: 'inter';
    font-size: 40px;
    line-height: 48px;
    color: #3e8989;
    text-align: center;
    margin-bottom: 50px;
}

.about__content {
    display: flex;
    column-gap: 20px;
}

.about__img {
    max-width: 545px;
    width: 100%;
    object-fit: contain;
}

.about__desc {
    margin-top: 9px;
}

.about__subtitle {
    font-weight: 400px;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 20px;
}

.cards {
    margin-bottom: 100px;
}

.cards__title {
    font-family: 'inter';
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color:#3e8989 ;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 53px;
}

.cards__content{
    display: flex;
    column-gap: 20px;
}

.card {
    max-width: 263px;
}

.card__box{
    width: 100%;
    min-height: 300px;
    margin-bottom: 30px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__title{
    font-family: 'inter';
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-align: center;
    transition: 500ms;
}

.card:hover .card__title{
    color: #b4436c;
}

.contacts {
    margin-bottom: 104px;
}
.contacts__title{
    font-family: 'inter';
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #3e8989;
    text-transform: capitalize;
    margin-bottom: 50px;
}

.contacts__content {
    display: flex;
    justify-content: space-between;
}

.contacts__desc {
    max-width: 555px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    font-size: 20px;
    margin-bottom: 50px;
}

.contacts__box {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.contacts__link {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.footer{
    background: #3e8989;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px 15px 15px 15px;
}

.footer__menu{
    display: flex;
    column-gap: 30px;
    margin-bottom: 59px;
}

.footer__link{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
}

.footer__box{
    display: flex;
}

.footer__span {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    margin-right: 8px;

}